// 当日入場端末ログインページ
#page_checkin_login {

    .form-login {
        padding-top: 2em;
        font-size: 20px;
        max-width: 800px;
        margin: auto;
        select, input[type=text], input[type=password] {
            width: 100%;
        }
        .label-title {
            margin-bottom: 4px;
        }
    }

    .btn-next {
        width: 200px;
        margin-top: 0;        
    }
}
