<footer>
    <ul class="is-customer">
        <li><a href="/terms" target="_blank"><%- __('Terms') %></a></li>
        <li><a href="/privacypolicy" target="_blank"><%- __('AboutPrivacy') %></a></li>
        <li><a href="/contact" target="_blank"><%- __('ContactUs') %></a></li>
    </ul>
    <div class="copyrights">
        <div class="inner">
            ©<%- new Date().getFullYear() %> TOKYO TOWER. ALL RIGHTS RESERVED.
        </div>
    </div>
</footer>
