<%
const locales = conf.get('locales');
let routeName = '';
if (req.hasOwnProperty('route')) {
    routeName = req.route.path;
}
%>
<header>
    <div class="container">
        <a href="javascript:void(0);" class="header-logo"><img src="/images/common/logo.png" alt="CHEVRE"></a>
        <div class="header-menu">
            <% if (routeName.indexOf('/inquiry/search/') > -1 && routeName.indexOf('/result') > -1) { %>
            <a class="navbar-brand" href="/inquiry/search">戻る</a>
            <% } %>
        </div>
        <div class="header-lang">
            <p>Language</p>
            <%- include('../../common/_select_locale.ejs'); %>
        </div>
    </div>
</header>
