<%- contentFor('scripts') %>
<script src="/js/checkin/confirmTest.js"></script>
<form method="post" class="form-horizontal form-login" style="margin: 20px 40px 20px 40px;"  >
  <br/>
  <% /* 予約一覧 */ %>
  <div class="form-group .form-inline">
    <label for="performanceId" class="control-label label-title">パフォーマンスID(未入力なら現在時刻のパフォーマンス)</label>
    <input type="text" name="performanceId" id="performanceId" class="form-control" value="<%= req.body.performanceId %>">
    <br/>
    <button type="button" class="btn btn-list">予約一覧取得</button>
    <br/>
    <textarea rows="5" name="reservations" id="reservations" class="form-control"></textarea>
  </div>
  <br/>
  <% /* QR文字列 */ %>
  <div class="form-group .form-inline">
    <label for="qr" class="control-label label-title">QR文字列</label>
    <input type="text" name="qr" id="qr" class="form-control" value="20170713-700000109-0" placeholder="来塔日時-購入番号-座席インデックス" />
    <label for="when" class="control-label label-title">タイムスタンプ(取消の時のみ必要です)</label>
    <input type="text" name="when" id="when" class="form-control" value="" placeholder="checkinの_id" />
  </div>
  <% /* 取得 */ %>
  <div class="form-group">
    <div class="btn-area">
      <button type="button" class="btn btn-get" style="display:inline-block;">取得</button>
      <button type="button" class="btn btn-post" style="display:inline-block;">チェックイン</button>
      <button type="button" class="btn btn-delete" style="display:inline-block;">取消</button>
    </div>
    <br/>
    <textarea rows="5" name="result" id="result" class="form-control"></textarea>
  </div>
  <input type="hidden" name="input_username" id="input_username" value="<%- staffUser.name.ja %>">
  <input type="hidden" name="pointgroup" id="input_pointgroup" value="<%- staffUser.group %>">
</form>
